#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  flex-basis: 100%;
}

#webpage-github {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

#github {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#github-links {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.github-link p {
  margin: 0;
}

.icon {
  width: 25px;
  height: 25px;
}
