.project-link {
  text-decoration: none;
  color: black;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  border: 1px solid var(--light-gray);
  box-shadow: 3px 3px 0 var(--light-gray);
}

.card:hover {
  border: 1px solid var(--dark-gray);
  box-shadow: 3px 3px 0 var(--dark-gray);
}

.image {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.description {
  color: var(--dark-gray);
}
