body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--black);
  width: 50%;
  margin: 10px auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px;
  gap: 40px;
}
